html, body{
    height: 100%;
    background-color: #efefef
}

body.login div {
    height: 100vh;
    display: flex;
    align-items: center;
}

.btn-wine {
    background-color: #ad63ff;
    color: white;
    border: 1px solid #ad63ff;
}

.btn-wine:hover {
    background-color: #8a4fcc;
}

.content {
    padding: 20px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.progress {
    height: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}
.product-card:hover {
    transform: scale(1.05);
}
.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.status-pedido { font-weight: bold; }
        .status-pedido.faturado { color: green; }
        .status-pedido.analise { color: orange; }
        .status-pedido.cancelado { color: red; }
        .table .actions button { margin-right: 5px; }